<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cygao.ams.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="cn.cygao.ams.entity.User">
        <!--@mbg.generated-->
        <!--@Table `user`-->
        <id column="u_id" jdbcType="INTEGER" property="id"/>
        <result column="u_username" jdbcType="VARCHAR" property="username"/>
        <result column="u_password" jdbcType="VARCHAR" property="password"/>
        <result column="u_created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="u_role_id" jdbcType="INTEGER" property="roleId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        u_id, u_username, u_password, u_created_time, u_role_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from `user`
        where u_id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from `user`
        where u_id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="u_id" keyProperty="id" parameterType="cn.cygao.ams.entity.User"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into `user` (u_username, u_password, u_created_time,
                            u_role_id)
        values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP},
                #{roleId,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" keyColumn="u_id" keyProperty="id" parameterType="cn.cygao.ams.entity.User"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into `user`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                u_username,
            </if>
            <if test="password != null">
                u_password,
            </if>
            <if test="createdTime != null">
                u_created_time,
            </if>
            <if test="roleId != null">
                u_role_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.cygao.ams.entity.User">
        <!--@mbg.generated-->
        update `user`
        <set>
            <if test="username != null">
                u_username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                u_password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                u_created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="roleId != null">
                u_role_id = #{roleId,jdbcType=INTEGER},
            </if>
        </set>
        where u_id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.cygao.ams.entity.User">
        <!--@mbg.generated-->
        update `user`
        set u_username     = #{username,jdbcType=VARCHAR},
            u_password     = #{password,jdbcType=VARCHAR},
            u_created_time = #{createdTime,jdbcType=TIMESTAMP},
            u_role_id      = #{roleId,jdbcType=INTEGER}
        where u_id = #{id,jdbcType=INTEGER}
    </update>

    <!--auto generated by MybatisCodeHelper on 2021-06-03-->
    <select id="selectByUsername" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `user`
        where u_username = #{username,jdbcType=VARCHAR}
        limit 1
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-06-05-->
    <update id="updatePasswordById">
        update `user`
        set u_password=#{updatedPassword,jdbcType=VARCHAR}
        <where>
            <if test="id != null">
                and u_id = #{id,jdbcType=INTEGER}
            </if>
        </where>
    </update>
</mapper>